

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  color: black;
}
.sec-spacer{
  margin-top:  60px;
}

a {
  text-decoration: none;
  color: #ffc451;
}

a:hover {
  color: #f1a713;
  text-decoration: none;
}


h1{
  font-size: 2.5rem;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.wrap-about {
  position: relative; }
  .wrap-about h2 {
    font-weight: 500; }
  .wrap-about .img {
    width: 100%; }
   
.teacher-section {
  padding: 7em 0;
  position: relative; }
  .teacher-no-pt {
    padding-top: 0; }
  
  .teacher-no-pb {
    padding-bottom: 0; }
    .order-md-last {
      -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
      order: 13; }  
      .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important; }
      

      .services-2 {
        margin-bottom: 30px;
       }
        .services-2 .icon {
          line-height: 1;
          position: relative;
          margin-right: 15px;
          width: 80px;
          height: 80px;
          background: #ffbb38;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }

          .services-2 .icon:hover {
            background: #c68918;
             }
          .services-2 .icon span {
            font-size: 30px;
            color: #fff; }
            .services-2 .icon span:hover {
              font-size: 30px;
              color: black; }
        .services-2 .text {
          width: calc(100% - 80px); }
          .services-2 .text h3 {
            color: #ffc451;
            font-size: 24px;
            font-weight: 500; }
           
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffc451;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 16px solid black;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  -webkit-animation: animate-preloader 3s linear infinite;
  animation: animate-preloader 3s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #eba10d;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.section-description {
  text-align: center;
  margin-bottom: 40px;
}

section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.section-title p{
  font-size: 18px ;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 100px;
  height: 3px;
  background: black;
  margin: 0 auto;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: black;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

.scrolled-offset {
  margin-top: 90px;
}
@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 90px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #f1a713;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: black;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #f1a713;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: wheat;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #f1a713;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #f1a713;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
#  Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  color: #fff;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #ffc451;
}
.get-started-btn:hover {
  background: #ffbb38;
  color: #343a40;
}
@media (max-width: 992px) {
  .get-started-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}
.activities-btn {
  color: #fff;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  background: #ffc451;
  border: 2px solid #ffc651;
}
.activities-btn:hover {
  background: #fcaa05;
  color: #343a40;
}
@media (max-width: 992px) {
  .activities-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(22, 21, 21, 0.6), rgba(30, 3, 3, 0.6)), url("../img/sd1.jpg");
  position: relative;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}
#hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: wheat;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  background: #ffc651;
}
#hero .btn-get-started:hover {
  transition: 0.5s;
  background: #f1a713;
  color: white;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    line-height: 22px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #151515;
}
.section-title p {
  margin-bottom: 0;
  color: #aeaeae;
}

#about {
  background: #fff;
  padding: 80px 0;
}
#about .about-img {
  overflow: hidden;
}
#about .about-img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}
#about .about-content {
  background: #fff;
}
#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}
#about .about-text {
  line-height: 26px;
  margin-bottom: 15px;
}
#about .about-text:last-child {
  margin-bottom: 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #ffbb38;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  margin-bottom: 30px;
}
.gallery #gallery-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
}
.gallery #gallery-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px 12px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #555555;
  transition: all 0.3s ease-in-out;
  margin: 0 4px 10px 4px;
  background: whitesmoke;
  border-radius: 4px;
}
.gallery #gallery-flters li:hover, .gallery #gallery-flters li.filter-active {
  background: #f1a713;
  color: #fff;
}
.gallery #gallery-flters li:last-child {
  margin-right: 0;
}
.gallery .gallery-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.gallery .gallery-wrap::before {
  content: "";
  background: rgba(8, 8, 8, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.gallery .gallery-wrap .gallery-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-wrap .gallery-info::before {
  display: block;
  content: "";
  width: 148px;
  height: 148px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 4px solid #f1a713;
  border-left: 4px solid #f1a713;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.gallery .gallery-wrap .gallery-info::after {
  display: block;
  content: "";
  width: 148px;
  height: 148px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 4px solid #f1a713;
  border-right: 4px solid #f1a713;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.gallery .gallery-wrap .gallery-info h4 {
  font-size: 20px;
  color: #ffc451;
  font-weight: 600;
}
.gallery .gallery-wrap .gallery-info p {
  color: #f1a713;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.gallery .gallery-wrap .gallery-links {
  text-align: center;
  z-index: 4;
}
.gallery .gallery-wrap .gallery-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.gallery .gallery-wrap .gallery-links a:hover {
  color: #f1a713;
}
.gallery .gallery-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.gallery .gallery-wrap:hover .gallery-info {
  opacity: 1;
}
.gallery .gallery-wrap:hover .gallery-info::before {
  top: 15px;
  left: 15px;
}
.gallery .gallery-wrap:hover .gallery-info::after {
  bottom: 15px;
  right: 15px;
}



/*--------------------------------------------------------------
# gallery Details
--------------------------------------------------------------*/
.gallery-details {
  padding-top: 40px;
}
.gallery-details .gallery-details-slider img {
  width: 100%;
}
.gallery-details .gallery-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.gallery-details .gallery-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #7cc576;
}
.gallery-details .gallery-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7cc576;
}
.gallery-details .gallery-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(21, 21, 21, 0.08);
}
.gallery-details .gallery-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.gallery-details .gallery-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.gallery-details .gallery-info ul li + li {
  margin-top: 10px;
}
.gallery-details .gallery-description {
  padding-top: 30px;
}
.gallery-details .gallery-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.gallery-details .gallery-description p {
  padding: 0;
}
/* Facts Section
--------------------------------*/
#facts {
  background:linear-gradient(rgba(22, 21, 21, 0.6), rgba(30, 3, 3, 0.6)), url(../img/sd2.jpg);
  padding: 80px 0 60px 0;
  background-size:cover ;
  background-repeat: no-repeat;
}
#facts .counters span {
  font-size: 48px;
  display: block;
  color: #f1a713;
}
#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
#facts{
  color: #ddd;
}
#facts .section-title{
  font-size: 40px;
}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: rgb(22, 21, 21);
  padding: 80px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #ffc600;
}
.cta .cta-btn:hover {
  background: #fff;
  color: #ffc600;
}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}
@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 60px 0;
  background: linear-gradient(rgba(22, 21, 21, 0.6), rgba(30, 3, 3, 0.6)),url("../img/sd22.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}
.testimonials .quote-icon {
  text-align: center;
  margin-bottom: 30px;
}
.testimonials .quote-icon i {
  color: #7cc576;
  font-size: 24px;
  padding: 18px;
  border-radius: 50px;
  border: 2px solid #7cc576;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 30px auto;
  font-size: 20px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffbb38;
}
@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}
.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #915f52; }
  .hero-wrap.hero-wrap-2 {
    height: 300px; }
  
    .hero-wrap.hero-wrap-2 .slider-text {
      height: 300px; }
      .hero-wrap.hero-wrap-2 .slider-text .bread {
        font-weight: 900;
        color: white; }
      .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px; }
        .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span {
          color: #ffbb38;
          border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
          .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span a {
            color: black ; }
            .breadcrumb {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              padding: 0.75rem 1rem;
              margin-bottom: 1rem;
              list-style: none;
              background-color: #e9ecef;
              border-radius: 0.25rem; }
.staff {
  overflow: hidden;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .staff .img-wrap {
    height: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .staff .img {
    width: 100%;
    display: block;
    background-position: top center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .staff .text {
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .text h3 {
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .staff .text .position {
      text-transform: uppercase;
      color: #b3b3b3;
      color: #ffc451;
      display: block;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: 500; }
    .staff .text .faded {
      opacity: 1; }
  .staff .teacher-social {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background: transparent;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .teacher-social li a {
      color: black; }
  .staff:hover .teacher-social, .staff:focus .teacher-social {
    opacity: 1;
    top: -50px; }
  .staff:hover .img, .staff:focus .img {
    margin-top: -10px; }
  .staff:hover .text h3, .staff:focus .text h3 {
    color: #ffbb38; }
    .staff .teacher-social li a:hover {
      color: #ffbb38; }
.teacher-social {
  padding: 0; }
  .teacher-social li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
    font-size: 24px;
    
   }

.teacher-gallery {
  padding: 0; }




/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: whitesmoke;
  padding: 15px 0;
  text-align: center;
}
.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .clients img {
    width: 50%;
  }
}


.card-btn {
  font-size: 12px;
  padding: 5px 10px;
}
.card-date {
  position: absolute;
  background: #ffbc3b;
  font-family: "futura-bold";
  text-align: center;
  padding: 10px;
  color: #fff;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

.card-date span {
  font-size: 40px;
}
.card-body{
  background: #333;
}
.card-body p{
 color: #fcaa05;
}
.card-body p:hover{
  color: #eba10d;
 }


.card-title{
  color: #eee;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-headline h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}


.contact-area {
  height: auto;
  width: 100%;
}

.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}

.contact-content-right {
  padding: 100px;
}

.contact-us .info {
  width: 100%;
  background: #fff;
}
.contact-us .info i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffc451;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.contact-us .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #4a3815;
}
.contact-us .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #1d1504;
}
.contact-us .info .email, .contact-us .info .phone {
  margin-top: 40px;
}
.contact-us .info .email:hover i, .contact-us .info .address:hover i, .contact-us .info .phone:hover i {
  background: #f1a713;
  color: #fff;
}
.contact-us .contact-form {
  width: 100%;
  background: #fff;
}
.contact-us .contact-form .form-group {
  padding-bottom: 8px;
}
.contact-us .contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact-us .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact-us .contact-form .error-message br + br {
  margin-top: 25px;
}
.contact-us .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #ffc451;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact-us .contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact-us .contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #ffc451;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact-us .contact-form input, .contact-us .contact-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact-us .contact-form input:focus, .contact-us .contact-form textarea:focus {
  border-color: #ffc451;
}
.contact-us .contact-form input {
  height: 44px;
}
.contact-us .contact-form textarea {
  padding: 10px 12px;
}
.contact-us .contact-form button[type=submit] {
  background: #ffc451;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact-us .contact-form button[type=submit]:hover {
  background: #ffc651;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rule-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .rule-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #915f52; }
  .rule-wrap.hero-wrap-2 {
    height: 700px; }



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #ffc451;
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: black;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 25%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #ffc651;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}
#footer .credits a {
  color: #ffc451;
  transition: 0.3s;
}
#footer .credits a:hover {
  color: #f1a713;
}
#footer  .container2 {
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 768px) {
  #footer h3{
font-size:24px
  }
}
/*--------------------------------------------------------------
# Admisiion-forms
--------------------------------------------------------------*/
.Admisiion-form .contact-form {
  width: 100%;
}
.Admisiion-form .contact-form .form-group {
  padding-bottom: 8px;
}
.Admisiion-form .contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.Admisiion-form .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.Admisiion-form .contact-form .error-message br + br {
  margin-top: 25px;
}
.Admisiion-form .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #ffc651;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.Admisiion-form .contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.Admisiion-form .contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #ffc600;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.Admisiion-form .contact-form input, .Admisiion-form .contact-form textarea, .Admisiion-form .contact-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}
.Admisiion-form .contact-form input:focus, .Admisiion-form .contact-form textarea:focus, .Admisiion-form .contact-form select:focus {
  border-color: #ffc451;
}
.Admisiion-form .contact-form input, .Admisiion-form .contact-form select {
  height: 44px;
}
.Admisiion-form .contact-form textarea {
  padding: 10px 12px;
}
.Admisiion-form .contact-form button[type=submit] {
  background: #ffc451;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.Admisiion-form .contact-form button[type=submit]:hover {
  background: #eba10d;
}


.widget + .widget {
	margin-top:40px;
}
.category-widget .category {
	display:block;
	text-transform:uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

.category-widget .category + .category {
	border-top: 1px solid #EBEBEB;
}

.category-widget .category:before {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #FF6700;
	margin-right:10px;
}

.category-widget .category span {
	font-size:14px;
	margin-left:10px;
	color:#798696;
}

/*-- Sidebar Posts --*/
.single-post:after {
	content:"";
	display:block;
	clear:both;
}

.single-post + .single-post {
	margin-top:20px;
}

.single-post .single-post-img {
	position:relative;
	width: 80px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	border-radius: 4px;
	overflow: hidden;
}

.single-post .single-post-img img {
	width:100%;
}

.single-post-img:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#FF6700;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-post-img:hover:after {
	opacity:0.7;
}

/*-- Tags --*/
.tags-widget .tag {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 0px;
	margin-top: 5px;
	padding: 5px 15px;
	border-radius: 40px;
	border: 1px solid #ffc651;
	color: #ffc651;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.tags-widget .tag:hover {
	background-color:#FF6700;
	border-color:#FF6700;
	color:#FFF;
}



